<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="userDao" class="cn.albie.dao.impl.UserDaoImpl" init-method="init" destroy-method="destroy" />-->

    <!--<bean id="userDao" class="cn.albie.factory.StaticFactory" factory-method="getUserDao" />-->

    <!--<bean id="factory" class="cn.albie.factory.DynamicFactory"/>-->
    <!--<bean id="userDao" factory-bean="factory" factory-method="getUserDao"/>-->
    <bean id="userDao" class="cn.albie.dao.impl.UserDaoImpl"/>
    <bean id="userService" class="cn.albie.service.Impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>